planetNames {
    name "Basil"
    name "Athanasius"
    name "Polycarp"
    name "Cyprian"
    name "Palamas"
    name "Ephrem"
    name "Ambrose"
    name "Columba"
    name "Seraphim"
    name "Silouan"
    name "Nectarios"
    name "Paisios"
    name "Porphyrios"
    name "Nilus"
    name "Tikhon"
    name "Photios"
    name "Spyridon"
    name "Menas"
    name "Macarius"
    name "Arsenius"
    name "Hilarion"
    name "Cassian"
    name "Sabbas"
    name "Zosimas"
    name "Bessarion"
    name "Evagrius"
    name "Theophan"
    name "Maximos"
    name "Silvanus"
    name "Sophronius"
    name "Niketas"
    name "Theodotus"
    name "Theodosios"
    name "Euthymius"
    name "Gerasimos"
    name "Theophanes"
    name "Leontius"
    name "Diadochus"
    name "Philotheos"
    name "Iakovos"
    name "Amphilochius"
    name "Metrophanes"
    name "Melchizedek"
    name "Onuphrius"
    name "Theodulus"
    name "Zeno"
    name "Nestor"
    name "Romanos"
    name "Nikodemos"
    name "Gennadios"
    name "Damaskinos"
    name "Pimen"
    name "Elias"
    name "Sabas"
    name "Cyprianos"
    name "Nikon"
    name "Cosmas"
    name "Damian"
    name "Arsenios"
    name "Makarios"
    name "Ignatius"
    name "Irenaeus"
    name "Justin"
    name "Clement"
    name "Origen"
    name "Tertullian"
    name "Lactantius"
    name "Eusebius"
    name "Cyril"
    name "Chrysostom"
    name "Jerome"
    name "Augustine"
    name "Hilary"
    name "Martin"
    name "Patrick"
    name "Benedict"
    name "Gregory"
    name "Isidore"
    name "Bede"
    name "Boniface"
    name "Methodius"
    name "Photinus"
    name "Acacius"
    name "Anthimus"
    name "Meletius"
    name "Flavian"
    name "Proclus"
    name "Anatolius"
    name "Gennadius"
    name "Euphemius"
    name "Macedonius"
    name "Timotheos"
    name "Ioannes"
    name "Epiphanius"
    name "Eutychius"
    name "Sergius"
    name "Pyrrhus"
    name "Paulos"
    name "Petros"
    name "Thaddeus"
    name "Konstantinos"
    name "Callinicus"
    name "Cyrus"
    name "Tarasius"
    name "Nicephorus"
    name "Stephanos"
    name "Antonios"
    name "Nikolaos"
    name "Polyeuctus"
    name "Sisinnius"
    name "Nestorius"
    name "Maximian"
    name "Dometian"
    name "Eutyches"
    name "Fravitta"
    name "Atticus"
    name "Arsacius"
    name "Theophilus"
    name "Nectarius"
    name "Demophilus"
    name "Eudoxius"
    name "Titus"
    name "Rufinus"
    name "Probus"
    name "Montanus"
    name "Dometius"
    name "Cyriacus"
    name "Marcian"
    name "Proterius"
    name "Dioscorus"
    name "Theodoretus"
    name "Severus"
    name "Euthalius"
    name "Apollinaris"
    name "Didymus"
    name "Pamphilus"
    name "Lucian"
    name "Methodios"
    name "Hermias"
    name "Pantaenus"
    name "Athenagoras"
    name "Theophilus"
    name "Tatian"
    name "Quadratus"
    name "Aristides"
    name "Papias"
    name "Hermas"
    name "Barnabas"
    name "Dionysius"
    name "Hippolytus"
    name "Novatian"
    name "Commodian"
    name "Victorinus"
    name "Arnobius"
    name "Firmicus"
    name "Optatus"
    name "Pacian"
    name "Zeno"
    name "Aphrahat"
    name "Theosis"
    name "Kenosis"
    name "Hesychia"
    name "Agape"
    name "Logos"
    name "Pneuma"
    name "Theotokos"
    name "Sophia"
    name "Metanoia"
    name "Synaxis"
    name "Energeia"
    name "Hypostasis"
    name "Ousia"
    name "Perichoresis"
    name "Apatheia"
    name "Nepsis"
    name "Theoria"
    name "Praxis"
    name "Philokalia"
    name "Synergy"
    name "Taxis"
    name "Ekklesia"
    name "Koinonia"
    name "Diakonia"
    name "Liturgia"
    name "Mysterion"
    name "Epiklesis"
    name "Anamnesis"
    name "Prokeimenon"
    name "Kontakion"
    name "Troparia"
    name "Stichera"
    name "Kathisma"
    name "Doxology"
    name "Trisagion"
    name "Cherubikon"
    name "Axion"
    name "Megalynarion"
    name "Katavasia"
    name "Irmologion"
    name "Octoechos"
    name "Triodion"
    name "Pentecostarion"
    name "Menologion"
    name "Typikon"
    name "Horologion"
    name "Euchologion"
    name "Psalterion"
    name "Evangelion"
    name "Paraklesis"
    name "Byzantion"
    name "Chalcedon"
    name "Nicaea"
    name "Ephesus"
    name "Antioch"
    name "Alexandria"
    name "Thessalonica"
    name "Smyrna"
    name "Cappadocia"
    name "Athos"
    name "Sinai"
    name "Constantinople"
    name "Ravenna"
    name "Kiev"
    name "Novgorod"
    name "Trebizond"
    name "Adrianople"
    name "Philippi"
    name "Corinth"
    name "Thebes"
    name "Patras"
    name "Larissa"
    name "Dyrrhachium"
    name "Monemvasia"
    name "Mystras"
    name "Modon"
    name "Coron"
    name "Nauplia"
    name "Athens"
    name "Chios"
    name "Rhodes"
    name "Cyprus"
    name "Crete"
    name "Naxos"
    name "Lesbos"
    name "Samos"
    name "Lemnos"
    name "Thasos"
    name "Samothrace"
    name "Euboea"
    name "Boeotia"
    name "Phocis"
    name "Aetolia"
    name "Acarnania"
    name "Epirus"
    name "Thessaly"
    name "Macedonia"
    name "Thrace"
    name "Bithynia"
    name "Pontus"
    name "Paphlagonia"
    name "Galatia"
    name "Phrygia"
    name "Lydia"
    name "Caria"
    name "Lycia"
    name "Pamphylia"
    name "Cilicia"
    name "Isauria"
    name "Lycaonia"
    name "Pisidia"
    name "Armenia"
    name "Iberia"
    name "Colchis"
    name "Lazica"
    name "Opsikion"
    name "Thrakesion"
    name "Anatolikon"
    name "Armeniakon"
    name "Bucellarian"
    name "Charsianon"
    name "Mesopotamia"
    name "Sebasteia"
    name "Coloneia"
    name "Chaldia"
    name "Optimatoi"
    name "Hellas"
    name "Peloponnese"
    name "Cephalonia"
    name "Nicopolis"
    name "Lavra"
    name "Vatopedi"
    name "Iviron"
    name "Chilandari"
    name "Dionysiou"
    name "Koutloumousiou"
    name "Pantokratoros"
    name "Xeropotamou"
    name "Zographou"
    name "Dochiariou"
    name "Karakalou"
    name "Philotheou"
    name "Simonopetra"
    name "Agiou"
    name "Pavlou"
    name "Stavronikita"
    name "Xenophontos"
    name "Grigoriou"
    name "Esphigmenou"
    name "Russikon"
    name "Konstamonitou"
    name "Meteora"
    name "Daphni"
    name "Hosios"
    name "Loukas"
    name "Osios"
    name "David"
    name "Latmos"
    name "Olympos"
    name "Patmos"
    name "Studion"
    name "Chora"
    name "Pammakaristos"
    name "Pantepoptes"
    name "Pantanassa"
    name "Peribleptos"
    name "Myrelaion"
    name "Lips"
    name "Mangana"
    name "Evergetis"
    name "Kosmosoteira"
    name "Grottaferrata"
    name "Rossano"
    name "Carbone"
    name "Cava"
    name "Montecassino"
    name "Farfa"
    name "Subiaco"
    name "Bobbio"
    name "Fulda"
    name "Reichenau"
    name "Gallen"
    name "Corvey"
    name "Lorsch"
    name "Echternach"
    name "Stavelot"
    name "Malmedy"
    name "Prüm"
    name "Luxeuil"
    name "Jumièges"
    name "Constantine"
    name "Constantius"
    name "Julian"
    name "Jovian"
    name "Valens"
    name "Valentinian"
    name "Gratian"
    name "Theodosius"
    name "Arcadius"
    name "Honorius"
    name "Pulcheria"
    name "Marcian"
    name "Leo"
    name "Anastasius"
    name "Justin"
    name "Justinian"
    name "Theodora"
    name "Maurice"
    name "Phocas"
    name "Heraclius"
    name "Constans"
    name "Leontius"
    name "Tiberius"
    name "Philippicus"
    name "Artabasdos"
    name "Irene"
    name "Nicephorus"
    name "Staurakios"
    name "Michael"
    name "Theophilus"
    name "Alexander"
    name "Romanos"
    name "Nikephoros"
    name "Tzimiskes"
    name "Zoe"
    name "Monomachos"
    name "Isaac"
    name "Komnenos"
    name "Doukas"
    name "Diogenes"
    name "Botaneiates"
    name "Alexios"
    name "Manuel"
    name "Andronikos"
    name "Angelos"
    name "Laskaris"
    name "Vatatzes"
    name "Palaiologos"
    name "Kantakouzenos"
    name "Porphyrogenitus"
    name "Bulgaroktonos"
    name "Kalokagathos"
    name "Dragatses"
    name "Philanthropenos"
    name "Branas"
    name "Tarchaneiotes"
    name "Tornikes"
    name "Skleros"
    name "Phokas"
    name "Maleinos"
    name "Kourkouas"
    name "Melissenos"
    name "Bryennios"
    name "Dalassenos"
    name "Tzachas"
    name "Gabras"
    name "Taronites"
    name "Argyros"
    name "Botaneiates"
    name "Strategos"
    name "Domestikos"
    name "Protovestiarios"
    name "Logothetes"
    name "Sakellarios"
    name "Kouropalates"
    name "Protospatharios"
    name "Spatharokandidatos"
    name "Protostrator"
    name "Megas"
    name "Doux"
    name "Krites"
    name "Katepano"
    name "Tourmarches"
    name "Drungarios"
    name "Komes"
    name "Kentarchos"
    name "Pentekontarchos"
    name "Dekarchos"
    name "Tagma"
    name "Thema"
    name "Bandon"
    name "Numerus"
    name "Turma"
    name "Droungos"
    name "Moira"
    name "Meros"
    name "Taxiarchis"
    name "Lochagos"
    name "Tetrarchis"
    name "Excubitors"
    name "Scholae"
    name "Candidati"
    name "Arithmos"
    name "Hikanatoi"
    name "Vigla"
    name "Hetaireia"
    name "Varangian"
    name "Immortals"
    name "Athanatoi"
    name "Optimates"
    name "Bucellarii"
    name "Foederati"
    name "Limitanei"
    name "Comitatenses"
    name "Palatini"
    name "Protectores"
    name "Domestici"
    name "Scholares"
    name "Gentiles"
    name "Hagia"
    name "Eirene"
    name "Apostoleion"
    name "Blachernae"
    name "Chalke"
    name "Chrysotriklinos"
    name "Magnaura"
    name "Bucoleon"
    name "Kathisma"
    name "Hippodrome"
    name "Forum"
    name "Augustaion"
    name "Mese"
    name "Milion"
    name "Theodosian"
    name "Anastasian"
    name "Constantinian"
    name "Golden"
    name "Petrion"
    name "Rhegium"
    name "Xylokerkos"
    name "Kaligaria"
    name "Pege"
    name "Chalkoprateia"
    name "Cistern"
    name "Basilica"
    name "Triclinium"
    name "Atrium"
    name "Narthex"
    name "Exonarthex"
    name "Nazareth"
    name "Capernaum"
    name "Bethsaida"
    name "Chorazin"
    name "Magdala"
    name "Gennesaret"
    name "Tiberias"
    name "Gergesa"
    name "Kursi"
    name "Hippos"
    name "Sennabris"
}